name: publish

on:
  workflow_dispatch:
  push:
    tags:
      - v*

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v1
        with:
          node-version: 12
          registry-url: https://npm.pkg.github.com/
          scope: '@hirokazumiyaji'
      - name: checkout
        uses: actions/checkout@v2
      - name: install dependencies
        run: yarn
      - name: publish github package registry
        run: yarn publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: publish npm registry
        run: yarn publish --access public
        if: always()
        env:
          YARN_REGISTRY: https://registry.npmjs.org/
          NODE_AUTH_TOKEN: ${{ secrets.NPM_ACCESS_TOKEN }}
